@import './mixin';

@include remark-document-default-config;

[class^="ri-"], [class*=" ri-"] {
  &::before {
    vertical-align: text-bottom;
  }
}

:fullscreen, :-webkit-full-screen, :-moz-full-screen {
  background-color: rgba(255,255,255,0);
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #ECF0F3;
  font-size: 16px;
  min-height: 100vh;
}

a {
  font-weight: bold;
  color: #2c3e50;

  &.router-link-exact-active {
    color: #42b983;
  }
}

.neu-rect {
  @include neu-rect-style;
}

.neu-circle {
  @include neu-circle-style;
}

.neu-button, button.neu-rect {
  @include button-variant;
  @include neu-rect-style;
  padding:8px;
  @include nue-button-state; 
}

.neu-button-circle, button.neu-circle {
  @include button-variant;
  @include neu-circle-style;
  width:34px;
  height:34px;
  line-height:34px;
  @include nue-button-state;
}

.neu-button, .neu-button-circle, button.nue-rect, button.neu-circle + .neu-button, .neu-button-circle, button.nue-rect, button.neu-circle {
  margin-left:8px;
}